<html>
	<head>
			<title>Ninja Blocks WiFi Setup</title>
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<script src="/js/jquery-1.8.2.min.js" type="text/javascript"></script>
			<script src="/js/plugin.js" type="text/javascript"></script>
			<link rel="stylesheet" href="/css/bootstrap-responsive.css" type="text/css" />
			<link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
	</head>

	<body>
		<div class="container">

			<div class="hero-unit">

				<h1>Please plug-in the WiFi adapter now.</h1>
				<p id="waiting">Detecting the device may take several seconds.</p>
				<p id="connecting" class="hidden">Device detected. Initializing...</p>
				<img src="/img/plug_in_wifi.svg" />
			</div>

		</div>
	</body>
</html>
